.body,
* {
    padding: 0px;
    margin: 0px;
}

.contali {
    width: 100%;
    margin: 0px auto;
    overflow-x: hidden;
}

.display-flex {
    display: flex;
}

.bold-light {
    color: #FFFFFF;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

.href-forgotpss {
    opacity: 70%;
    text-decoration: none;
    float: right;
    font-size: 13px;
    margin-top: 27px;
    margin-right: 15px;
    color: #FFFFFF;
    opacity: 40%;
}

.home-left-con {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home-right-con {
    height: 100vh;
    background-color: #161912;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-home-right {
    margin-left: 9vh;
    margin-right: 9vh;
    width: 500px;
    object-fit: cover;
}

.form-login {
    margin-top: 46px;
}

.label-Inputs {
    margin-bottom: 2px;
    margin-left: 11px;
}

.mt-24 {
    margin-top: 24px;
}

.login-input {
    width: 100%;
    height: 60px;
    background-color: #1E2126;
    border: none;
    border-radius: 6px;
    padding: 16px 18px;
    color: #FFFFFF;
    opacity: 50%;
}

.register-input {
    height: 60px;
    background-color: #1E2126;
    border: none;
    border-radius: 6px;
    padding: 16px 18px;
    color: #FFFFFF;
    opacity: 50%;
    width: 100%;
}

.inputValidation-message {
    color: #ffcc00;
    margin-left: 11px;
    font-size: 13px;
}

.btn-login {
    margin-top: 36px;
    font-size: 21px;
    height: 60px;
    font-weight: 600;
}

.p-after-bttn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.textafterlogin {
    color: #FFFFFF;
    opacity: 50%;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.href {
    text-decoration: none;
}

.href:hover {
    color: #0d6efd;
}

.inputs-space {
    margin-left: 30px;
}


/***********************ASIDE HOME **************************************/

.home-container {
    background-color: #1E2126;
    height: 100vh;
    height: ;
    width: 100vw;
}

.top-line-home {
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 50%;
    margin-top: 113px;
    position: absolute;
    z-index: 1;
}

.aside-container {
    width: 55px;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 17%;
    border-radius: 0 100px 0 0;
    position: absolute;
}

.top-aside-container {
    width: 55px;
    height: 112px;
    background-color: #4370FA;
    border-radius: 0px 100px 0px 0px;
}

.navbar-top-container {
    height: 112px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-navbar {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.li-navbar {
    padding: 0vw 3vw;
}

.href-li {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

.href-li:hover {
    color: #4370FA;
    opacity: 50%;
}

.ul-li {
    list-style: none;
}

.articles-container {
    max-width: 1300px;
    margin-top: 157px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1E2126;
}

.article {
    max-width: 208px;
    min-width: 208px;
    max-height: 292px;
    margin-top: 30px;
    margin: 25px 45px 25px 45px;
}

.article:hover {
    margin-top: -10px;
    transition: 1s;
}

.img-elipse {
    width: 208px;
    height: 49px;
    background-color: #FFFFFF;
    opacity: 17%;
    border-radius: 100%;
    position: absolute;
    top: 121px;
    display: none;
}

.art-title {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.price-buy-container {
    margin-top: 15px;
}

.price-article {
    color: #D4AF37;
    font-size: 17px;
}

.buy-button {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%)
}

.buy-button {
    width: 55px;
    height: 22px;
    border-radius: 17px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0px solid;
    margin-left: 30px;
}

.buy-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/********************* RESPONSIVE DESIGN ********************************/

@media only screen and (max-width: 1024px) {
    .home-left-con {
        display: none;
    }
    .home-right-con {
        width: 100%;
    }
    .content-home-right {
        margin: 0px 20px;
    }
}