.body,
* {
    padding: 0px;
    margin: 0px;
}

.contali {
    width: 100%;
    margin: 0px auto;
    overflow-x: hidden;
}

.display-flex {
    display: flex;
}

.bold-light {
    color: #FFFFFF;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

.href-forgotpss {
    opacity: 70%;
    text-decoration: none;
    float: right;
    font-size: 13px;
    margin-top: 27px;
    margin-right: 15px;
    color: #FFFFFF;
    opacity: 40%;
}

.home-left-con {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home-right-con {
    height: 100vh;
    background-color: #161912;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-home-right {
    margin-left: 9vh;
    margin-right: 9vh;
    width: 500px;
    object-fit: cover;
}

.form-login {
    margin-top: 46px;
}

.label-Inputs {
    margin-bottom: 2px;
    margin-left: 11px;
}

.mt-24 {
    margin-top: 24px;
}

.login-input {
    width: 100%;
    height: 60px;
    background-color: #1E2126;
    border: none;
    border-radius: 6px;
    padding: 16px 18px;
    color: #FFFFFF;
    opacity: 50%;
}

.register-input {
    height: 60px;
    background-color: #1E2126;
    border: none;
    border-radius: 6px;
    padding: 16px 18px;
    color: #FFFFFF;
    opacity: 50%;
    width: 100%;
}

.inputValidation-message {
    color: #ffcc00;
    margin-left: 11px;
    font-size: 13px;
}

.btn-login {
    margin-top: 36px;
    font-size: 21px;
    height: 60px;
    font-weight: 600;
}

.p-after-bttn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.textafterlogin {
    color: #FFFFFF;
    opacity: 50%;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.href {
    text-decoration: none;
}

.href:hover {
    color: #0d6efd;
}

.inputs-space {
    margin-left: 30px;
}


/********************* RESPONSIVE DESIGN ********************************/

@media only screen and (max-width: 1024px) {
    .home-left-con {
        display: none;
    }
    .home-right-con {
        width: 100%;
    }
    .content-home-right {
        margin: 0px 20px;
    }
}